.header {
  display: flex;
  margin: 0;
  height: 48px;
  justify-content: flex-end;
  flex-direction: column;
}

.logo {
  font-family: "Tiny5";
  color: rgb(6, 255, 6);
  margin: 0px;
  width: 100%;
  font-size: 42px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo.active {
  font-size: 28px;
}
