.editors-container {
  display: flex; /* Use Flexbox */
  align-items: center; /* Align items vertically */
}
.editor-left {
  margin-right: 10px; /* Add some space between editors */
}
.editor-left,
.editor-right {
  flex: 1;
}
