<app-header></app-header>
<app-problem></app-problem>
<div class="editors-container">
  <ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    class="editor-left"
  ></ngx-monaco-editor>
  <ngx-monaco-editor
    [options]="opponentEditorOptions"
    [(ngModel)]="opponentCode"
    class="editor-right"
  ></ngx-monaco-editor>
</div>
<button (click)="runCode()">Run Code</button>
<div class="result-container">
  <div class="stdout" [innerHTML]="stdout"></div>
  <div class="result" [innerHTML]="result"></div>
  <div class="stderr" [innerHTML]="stderr"></div>
</div>
