<div class="header-container">
  <app-header></app-header>
  <button class="submit-btn" (click)="runCode()">
    <span class="material-symbols-outlined">
      play_arrow
    </span>
    Run Code
  </button>
</div>
<app-problem [stdout]="stdout" [result]="result" [stderr]="stderr"></app-problem>
<div class="editors-container">
  <ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    class="editor-left"
    (onInit)="editorInit($event)"
  ></ngx-monaco-editor>
  <ngx-monaco-editor
    [options]="opponentEditorOptions"
    [(ngModel)]="opponentCode"
    class="editor-right"
    (onInit)="opponentEditorInit($event)"
  ></ngx-monaco-editor>
</div>
