<div class="header-container">
  <app-header></app-header>
  <div class="game-room-header-container">
    <button class="submit-btn" (click)="runCode(false)">
      <span class="material-symbols-outlined"> play_arrow </span>
      Run Code
    </button>
    <div class="time-elapsed">{{ now }}</div> 
  </div>
  <div class="game-room-exit-container">
    <div class="game-room-exit-btn" (click)="exitGameRoom()"></div>
    Exit
  </div>
</div>
<app-problem
  [problemTitle]="problemTitle"
  [problemText]="problemText"
  [stdout]="stdout"
  [result]="result"
  [numAttemptsText]="numAttemptsText"
  [stderr]="stderr"
></app-problem>
<div class="editors-container" [ngClass]="{ reverse: playerTitle === 'p2' }">
  <div class="editor-contaier-left">
    <div class="editor-header-container">
      <ng-container *ngIf="playerTitle === 'p1'; else noAction">
        <div class="lang on" (click)="chooseLanguage('choose')">{{language}}</div>
      </ng-container>
      <ng-template #noAction>
        <div class="lang">{{opponentLanguage}}</div>
      </ng-template>
      <div class="lang-list hidden p1">
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'C++' } " (click)="chooseLanguage('C++')">C++</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'Java'} " (click)="chooseLanguage('Java')">Java</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'Python' } " (click)="chooseLanguage('Python')">Python</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'Python3' } " (click)="chooseLanguage('Python3')">Python3</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'C' } " (click)="chooseLanguage('C')">C</div>
      </div>
      <div class="reset-btn"></div>
      <div class="hearts">
        <div class="heart-container" *ngFor="let num of player1HeartCount">
          <div *ngIf="num === 1" class="heart"></div>
        </div>
      </div>
    </div>
    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="player1Code"
      class="editor-left"
      (onInit)="editorInit($event)"
    ></ngx-monaco-editor>
  </div>
  <div class="editor-contaier-right">
    <div class="editor-header-container">
      <ng-container *ngIf="playerTitle === 'p2'; else noAction">
        <div class="lang on" (click)="chooseLanguage('choose')">{{language}}</div>
      </ng-container>
      <ng-template #noAction>
        <div class="lang">{{opponentLanguage}}</div>
      </ng-template>
      <div class="lang-list hidden p2">
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'C++' } " (click)="chooseLanguage('C++')">C++</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'Java'} " (click)="chooseLanguage('Java')">Java</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'Python' } " (click)="chooseLanguage('Python')">Python</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'Python3' } " (click)="chooseLanguage('Python3')">Python3</div>
        <div class="lang-choice" [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'C' } " (click)="chooseLanguage('C')">C</div>
      </div>
      <div class="reset-btn"></div>
      <div class="hearts">
        <div class="heart-container" *ngFor="let num of player2HeartCount">
          <div *ngIf="num === 1" class="heart"></div>
        </div>
      </div>
    </div>
    <ngx-monaco-editor
      [options]="opponentEditorOptions"
      [(ngModel)]="player2Code"
      class="editor-right"
      (onInit)="opponentEditorInit($event)"
    ></ngx-monaco-editor>
  </div>
</div>
