<div class="mobile">BeatCode is not supported on mobile.</div>
<div class="dark" [ngClass]="{ hidden: !showGameSummaryValue }">
  <div class="game-summary-container">
    <div class="game-summary-header">
      {{ winner }} won! <span class="result"></span>
    </div>
    <div class="game-summary-content">
      <div class="player">
        <div
          class="image"
          [ngStyle]="{ 'background-image': 'url(' + userImg1 + ')' }"
        ></div>
        <div class="title">
          <div class="rank" [ngClass]="getRank(user1bp)"></div>
          <div class="bp">BP: {{ user1bp }}</div>
          <div class="nickname">{{ username1 }}</div>
        </div>
      </div>
      <div class="vs">VS</div>
      <div class="player">
        <div
          class="image"
          [ngStyle]="{ 'background-image': 'url(' + userImg2 + ')' }"
        ></div>
        <div class="title">
          <div class="rank" [ngClass]="getRank(user2bp)"></div>
          <div class="bp">BP: {{ user2bp }}</div>
          <div class="nickname">{{ username2 }}</div>
        </div>
      </div>
    </div>
    <div class="game-detail-container">
      <div class="game-title-container">
        <div class="game-title-title title">Question</div>
        <div class="game-title">{{ problemData.title }}</div>
      </div>
      <div class="game-difficulty-container">
        <div class="game-difficulty-title title">difficulty</div>
        <div class="game-difficulty">{{ problemData.difficulty }}</div>
      </div>
      <div class="game-time-elapsed-container">
        <div class="game-time-elapsed-title title">Time</div>
        <div class="time-elapsed">{{ timeElapsed }}</div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="exit-btn" (click)="exitGameRoom()">EXIT</div>
  </div>
</div>
<div class="header-container" [ngClass]="{ hidden: showGameSummaryValue }">
  <app-header></app-header>
  <div class="game-room-header-container">
    <button class="submit-btn" (click)="runCode(false)">
      <span class="material-symbols-outlined"> play_arrow </span>
      Run Code
    </button>
    <div class="time-elapsed">{{ timeElapsed }}</div>
  </div>
  <!-- <div class="game-room-exit-container">
    <div class="game-room-exit-btn" (click)="exitGameRoom()"></div>
    Exit
  </div> -->
</div>
<app-problem
  [problemTitle]="problemTitle"
  [problemText]="problemText"
  [stdout]="stdout"
  [result]="result"
  [correct_testcases]="submissionDetails.totalCorrect"
  [total_testcases]="submissionDetails.totalTestcases"
  [expected_output]="submissionDetails.expectedOutput"
  [last_testcase]="submissionDetails.lastTestcase"
  [stderr]="stderr"
></app-problem>
<div class="editors-container" [ngClass]="{ reverse: playerTitle === 'p2' }">
  <div class="editor-contaier-left">
    <div class="editor-header-container" *ngIf="showEditor">
      <ng-container *ngIf="playerTitle === 'p1'; else noAction">
        <div class="lang on" (click)="chooseLanguage('choose')">
          {{ language }}
        </div>
      </ng-container>
      <ng-template #noAction>
        <div class="lang" (change)="changeOpponentLanguage()">
          {{ opponentLanguage }}
        </div>
      </ng-template>
      <div class="lang-list hidden p1">
        <div
          class="lang-choice"
          [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'C++' }"
          (click)="chooseLanguage('C++')"
        >
          C++
        </div>
        <div
          class="lang-choice"
          [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'Java' }"
          (click)="chooseLanguage('Java')"
        >
          Java
        </div>
        <div
          class="lang-choice"
          [ngClass]="{
            on: playerTitle === 'p1',
            hidden: language === 'Python',
          }"
          (click)="chooseLanguage('Python')"
        >
          Python
        </div>
        <div
          class="lang-choice"
          [ngClass]="{
            on: playerTitle === 'p1',
            hidden: language === 'Python3',
          }"
          (click)="chooseLanguage('Python3')"
        >
          Python3
        </div>
        <div
          class="lang-choice"
          [ngClass]="{ on: playerTitle === 'p1', hidden: language === 'C' }"
          (click)="chooseLanguage('C')"
        >
          C
        </div>
      </div>
      <div class="reset-btn"></div>
      <div class="hearts">
        <div class="heart-container" *ngFor="let num of player1HeartCount">
          <div *ngIf="num === 1" class="heart"></div>
        </div>
      </div>
    </div>
    <ngx-monaco-editor
      style="min-height: 300px; max-height: 400px"
      [options]="editorOptions"
      [(ngModel)]="player1Code"
      class="editor-left"
      (onInit)="editorInit($event)"
    ></ngx-monaco-editor>
  </div>
  <div class="editor-contaier-right">
    <div class="editor-header-container">
      <ng-container *ngIf="playerTitle === 'p2'; else noAction">
        <div class="lang on" (click)="chooseLanguage('choose')">
          {{ language }}
        </div>
      </ng-container>
      <ng-template #noAction>
        <div class="lang">{{ opponentLanguage }}</div>
      </ng-template>
      <div class="lang-list hidden p2">
        <div
          class="lang-choice"
          [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'C++' }"
          (click)="chooseLanguage('C++')"
        >
          C++
        </div>
        <div
          class="lang-choice"
          [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'Java' }"
          (click)="chooseLanguage('Java')"
        >
          Java
        </div>
        <div
          class="lang-choice"
          [ngClass]="{
            on: playerTitle === 'p2',
            hidden: language === 'Python',
          }"
          (click)="chooseLanguage('Python')"
        >
          Python
        </div>
        <div
          class="lang-choice"
          [ngClass]="{
            on: playerTitle === 'p2',
            hidden: language === 'Python3',
          }"
          (click)="chooseLanguage('Python3')"
        >
          Python3
        </div>
        <div
          class="lang-choice"
          [ngClass]="{ on: playerTitle === 'p2', hidden: language === 'C' }"
          (click)="chooseLanguage('C')"
        >
          C
        </div>
      </div>
      <div class="reset-btn"></div>
      <div class="hearts">
        <div
          class="heart-container"
          *ngFor="let num of player2HeartCount"
          [ngClass]="{ 'pve-class': isPve }"
        >
          <div *ngIf="num === 1" class="heart"></div>
        </div>
      </div>
    </div>
    <ngx-monaco-editor
      style="min-height: 300px; max-height: 400px"
      [options]="opponentEditorOptions"
      [(ngModel)]="player2Code"
      class="editor-right"
      (onInit)="opponentEditorInit($event)"
    ></ngx-monaco-editor>
  </div>
</div>
