.editors-container {
  display: flex;
  align-items: center;
}

.editors-container.reverse {
  flex-direction: row-reverse;
}

/* .editor-left {
  margin-right: 10px;
} */

.editor-contaier-left {
  margin-right: 10px;
}

/* .editor-left,
.editor-right {
  flex: 1;
} */

.editor-contaier-left,
.editor-contaier-right {
  flex: 1;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 16px 20px;
}

.header-container .submit-btn {
  background-color: black;
  color: white;
  border: 1px solid rgb(6, 255, 6);
  padding: 6px 12px 6px 6px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}

.header-container .submit-btn:hover {
  color: rgb(6, 255, 6);
}

@media (max-width: 576px) {
  /* .editor-left,
  .editor-right {
    width: 240px;
  } */
  .editor-contaier-left,
  .editor-contaier-right {
    width: 240px;
  }
}

.editor-header-container {
  display: flex;
  align-items: center;
  margin: 0 20px 16px 20px;
}

.lang {
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 6px;
  color: rgb(192, 192, 192);
  padding: 6px 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: rgb(31, 31, 31);
  /* margin-right: 10px; */
}

.lang-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  float: left;
}

.lang-choice {
  float: left;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 6px;
  color: rgb(192, 192, 192);
  padding: 6px 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  background-color: rgb(53, 51, 51);
}

.lang-choice.on {
  cursor: pointer;
}

/* .editor-contaier-left .lang {
  background-color: rgb(44, 44, 44);
}

.editor-contaier-right .lang {
  background-color: rgb(36, 87, 0);
} */

.lang.on {
  background-color: rgb(31, 31, 31);
  cursor: pointer;
}

.hidden {
  display: none;
}

.hearts {
  margin-left: auto;
  display: flex;
}

.heart-container {
  margin: 0 4px;
  width: 20px;
  height: 20px;
}

.heart {
  background-image: url(../../../assets/heart.png);
  width: 20px;
  height: 20px;
  background-size: contain;
}

.lang-selector {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.lang.active .dropdown-menu {
  display: block;
}

