.dashboard-container {
  font-family: "Saira";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86%;
}

.dashboard-container .dashboard-content-container {
  height: 95%;
  width: 97%;
  display: flex;
}

.dashboard-container .dashboard-content-container > * {
  margin: 15px;
  margin-top: 0px;
}

.user-info-container {
  width: 72%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-info-container .user-statistics-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 48%;
  margin-bottom: 30px;
  width: 100%;
}

.statistics-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.user-statistics-container .title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 25px;
}

.statistics-container .title {
  margin-left: 40px;
}

.ranking-container .title {
}

.overview .title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 25px;
}
.statistics .total {
  width: 120px;
  border-left: 10px solid;
  border-color: rgb(241, 255, 41);
  padding: 5px;
  margin: 5px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 221, 27, 0.8) 0%,
    rgba(255, 194, 41, 0.3) 70%,
    rgba(216, 255, 41, 0.1) 90%,
    transparent 100%
  );
}

.user-statistics-container .statistics-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  background-color: #0c0c18;
  font-family: "Saira";
  color: white;
  border-radius: 18px;
  height: 100%;
  /* justify-content: flex-start; */
  margin-right: 30px;
  letter-spacing: 1px;
  width: 58%;
  border: 1px solid rgb(31, 31, 31);
}

.highlight {
  color: rgb(255, 70, 85);
}

.user-statistics-container .ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0c18;
  font-family: "Saira";
  color: white;
  border-radius: 18px;
  height: 100%;
  width: 38%;
  border: 1px solid rgb(31, 31, 31);
}

.user-info-container .overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0c18;
  font-family: "Saira";
  color: white;
  height: 48%;
  border-radius: 18px;
  width: 100%;
  border: 1px solid rgb(31, 31, 31);
}

.game-history-container {
  width: 28%;
  height: 100%;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  min-width: 300px;
  align-items: center;
}

.game-history-container .game-history-contents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0c18;
  font-family: "Saira";
  color: white;
  height: 100%;
  border-radius: 18px;
  width: 100%;
  border: 1px solid rgb(31, 31, 31);
}

.game-history-contents-container .game-history-contents {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 95%;
  margin: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.game-history-contents::-webkit-scrollbar {
  display: none;
}

.game-history-contents .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title-container .title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.title-container .game-history-btn {
  cursor: pointer;
  font-size: 10.5px;
  color: rgb(161, 161, 161);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

.game-history-contents .contents-container {
  margin: 24px 0;
  width: 100%;
  border-left: 8px solid #202023;
}
.game-history-contents .match-history-container {
  padding: 0 10px;
  position: relative;
}

.match-history-container .match-container {
  margin-left: 5px;
  width: 100%;
  margin-top: -28px;
}

.match-history-container:not(:last-child) .match-container {
  margin-bottom: 80px;
}

.contents-container .bullet-point-container {
  margin-top: -38px;
  display: flex;
  align-items: center;
  position: absolute;
  left: -8px;
  top: 0px;
}

.contents-container .bullet-point-container .date {
  font-size: 12px;
  margin-left: 12px;
  letter-spacing: 1px;
  font-weight: 550;
}

.contents-container .bullet-point-container .bullet-point {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 255, 255);
}

.wins {
  width: 120px;
  border-left: 10px solid;
  border-color: rgb(41, 255, 251);
  padding: 5px;
  margin: 5px;
  background-image: linear-gradient(
    90deg,
    rgba(41, 255, 251, 0.8) 0%,
    rgba(41, 255, 251, 0.3) 60%,
    rgba(41, 255, 251, 0.1) 90%,
    transparent 100%
  );
}

.losses {
  width: 120px;
  padding: 5px;
  margin: 5px;
  border-left: 10px solid;
  border-color: rgb(236, 76, 110);
  background-image: linear-gradient(
    90deg,
    rgba(253, 8, 61, 0.8) 0%,
    rgba(103, 17, 107, 0.2) 80%,
    rgba(171, 51, 245, 0.1) 90%,
    transparent 100%
  );
  margin-right: 15px;
}

.ranking-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rank1 {
  background-image: url(../../../assets/rank1.png);
}

.rank2 {
  background-image: url(../../../assets/rank2.png);
}

.rank3 {
  background-image: url(../../../assets/rank3.png);
}

.rank4 {
  background-image: url(../../../assets/rank4.png);
}

.rank5 {
  background-image: url(../../../assets/rank5.png);
}
