<div class="dashboard-container">
    <div class="dashboard-content-container">
        <div class="user-info-container">
            <div class="user-statistics-container">
                <div class="statistics-container"></div>
                <div class="ranking-container">ranking: silver point</div>
            </div>
            <div class="overview">number of wins/lose</div>
        </div>
        <div class="game-history-container">
            <div class="game-history-contents">
                <div class="title-container">
                    <div class="title">Last Match</div>
                    <div class="game-history-btn">view all history</div>
                </div>
                <div class="contents-container">
                    <div class="match-history-container">
                        <div class="date">TODAY</div>
                        <div class="match-container">
                            <div class="match-info"></div>
                            <div class="match-info"></div>
                            <div class="match-info"></div>
                        </div>
                    </div>
                    <div class="match-history-container">
                        <div class="date">2 / 1</div>
                        <div class="match-container">
                            <div class="match-info"></div>
                            <div class="match-info"></div>
                            <div class="match-info"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>