<div class="friend-list-container">
    <div class="friend-container">
        <div class="friend-search-container">
            <input class="friend-search" type="text" placeholder="Search a freind...">
            <div class="request-send-icon">Send</div>
        </div>
        <div class="friend-requests">
            <div class="title-container">
                <div class="title">Request</div>
                <div class="count">5</div>
            </div>
            <div class="request-item">
                <app-friend-request></app-friend-request>
                <app-friend-request></app-friend-request>
                <app-friend-request></app-friend-request>
                <app-friend-request></app-friend-request>
                <app-friend-request></app-friend-request>
            </div>
        </div>
        <div class="friend-online">
            <div class="friend-item">
                <app-friend-request></app-friend-request>
                <app-friend-request></app-friend-request>
                <app-friend-request></app-friend-request>
                <app-friend-request></app-friend-request>
            </div>
        </div>
    </div>
</div>