<div class="friend-list-container">
  <div class="friend-container">
    <div class="friend-search-container">
      <input
        class="friend-search"
        type="text"
        placeholder="Search a freind..."
      />
      <div class="request-send-icon" (click)="sendFriendRequest()">Send</div>
    </div>
    <div class="friend-requests">
      <div class="title-container">
        <div class="title">Request</div>
        <div class="count">0</div>
      </div>
      <div class="request-item" *ngFor="let request of pendingRequests">
        <app-friend-request
          [requesterId]="request.id"
          [requesterName]="request.nickname"
          [requesterRank]="request.rank"
          [requesterProfilePic]="request.picture"
        ></app-friend-request>
      </div>
    </div>
    <!-- <div class="friend-online" *ngFor="let friend of friends">
            <div class="friend-item">
                <app-friend-request [isOnline]="isFriendOnline(friend.id)" [name]="friend.nickname" [rank]="friend.rank" [image]="friend.picture"></app-friend-request>
            </div>
        </div> -->
  </div>
</div>
