<div class="mobile">
  BeatCode is not supported on mobile.
</div>
<div class="sign-in-container">
  <!-- <div class="options">
        <div class="sign-in active">Sign In</div>
        <div class="sign-up">Sign Up</div>
    </div> -->
  <div *ngIf="isAuthenticated; else login" class="options"></div>
  <ng-template #login>
    <div class="options">
      <div class="login-btn" (click)="loginUser()">Login</div>
    </div>
  </ng-template>
  <div class="credits-container" (click)="toggleCredits()">
    Credits
    <app-credits *ngIf="showCredits"></app-credits>
  </div>
</div>
