<div class="friend-list-container">
    <div class="friend-container">
        <div class="friend-item">
            <app-friend [isOnline]="true" name="user1" rank="silver1" image="https://www.w3schools.com/howto/img_avatar.png"></app-friend>
            <app-friend [isOnline]="true" name="user2" rank="silver1" image="https://www.w3schools.com/howto/img_avatar.png"></app-friend>
            <app-friend [isOnline]="true" name="user3" rank="silver1" image="https://www.w3schools.com/howto/img_avatar.png"></app-friend>
            <app-friend [isOnline]="false" name="user4" rank="silver1" image="https://www.w3schools.com/howto/img_avatar.png"></app-friend>
        </div>
    </div>
</div>