:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  position: fixed; /* Fixed position to overlay on the screen */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it is on top of other content */
}

.credits-content {
  margin-top: 350px;
  font-family: 'Saira';
  letter-spacing: 2px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #0d5f11;
}

.credits-content a {
  color: #6c6c6c; /* Change link color */
  text-decoration: underline; /* Underline links */
}
