<div class="credits-content">
  <h1>Credits</h1>
  <h2>Icons</h2>
  <ul>
    <li>
      Icons within the app are created by
      <a href="https://fonts.google.com/icons" title="back icons">
        Google Icon
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/" title="back icons">
        StackOverflow
      </a>
    </li>
    <li>
      Loading animation from
      <a href="https://codyhouse.co/nuggets/css-gradient-borders">
        codyhouse
      </a>
    </li>
  </ul>
</div>
