<div class="dashboard-container">
  <div class="dashboard-content-container">
    <div class="total-match-history-container">
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
    <app-match-history-element></app-match-history-element>
      </div>
  </div>
</div>