<div class="match-history-container">
  <div class="match-history-content">
    <div class="user-info-container">
      <div class="user-profile-image-container">
        <div class="user-profile-image"></div>
      </div>
      <div class="user-info">
        <div class="rank-image"></div>
        <div class="username">nickname</div>
      </div>
    </div>
    <div class="result" >result</div>
    <div class="user-info-container">
      <div class="user-profile-image-container">
        <div class="user-profile-image"></div>
      </div>
      <div class="user-info">
        <div class="rank-image"></div>
        <div class="username">Opponent</div>
      </div>
    </div>
    <div class="match-problem-title"></div>
    <div class="match-problem-difficulty"></div>
    <div class="match-problem-difficulty"></div>
    <div class="duration">Lasted<span class="time">2:30:22</span></div>
    <div class="duration">Lasted<span class="time">2:30:22</span></div>
    <div class="BP"><span class="BP-change plus">10+</span></div>
    <div class="retry-btn">Try Again</div>
  </div>
</div>
